<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Step 6</title>
    <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <main class="main-contact step-6 container">
        <div class="background"></div>

        <div class="logo">
            <img src="img/logo-kose.png" alt="" />
        </div>

        <div class="grid-position">
            <div class="grid-position--top">

                <form action="step_8.html" method="get" class="product product__3">
                    <input type="hidden" name="question" value="product" />

                    <h3>
                        {{EN: <span class="font-josefin">Because perfume says a lot about
                            you...</span>||JP:あなたにぴったりの化粧水は・・・}}
                    </h3>

                    <div class="product__block">
                        <div class="logo">
                            <img src="./img/logo_SEKKISEI.jpg" alt="SEKKISEI Logo">
                        </div>

                        <img src="./img/SEKKISEI_natural drip.png" alt="Natural Drip" class="product-img">

                        <div class="product__description">
                            <h3>
                                <span class="font-josefin">Natural Drip</span>
                            </h3>
                            <h3>
                                ナチュラル ドリップ
                            </h3>
                            <p>
                                {{EN: <span class="font-josefin">
                                    A moisturizing lotion that balances the moisture barrier, for radiant smooth
                                    skin.<br><br>Good for:</span>
                                <br><span class="font-josefin">Dryness, Dullness, Dark
                                    Circle</span>||JP:エッセンスのようにまろやかで、心地よく浸透※。
                                うるおいバリアをととのえる化粧水。すべすべなめらかな透明素肌へ。<br>※角層まで}}
                            </p>
                        </div>
                    </div>

                    <div class="btns">
                        <label class="btn small-text">
                            <input type="submit" name="answer" value="Natural Drip" hidden />

                            {{EN: GET MY SAMPLE||JP:GET MY SAMPLE}}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="./libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="js/scripts.min.2604.js"></script>
</body>

</html>