<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Step 5</title>
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="icon" href="img/favicon-16x16.png" type="image/x-icon">
</head>

<body>
    <main class="main-contact container step-5">
        <div class="background"></div>

        <div class="logo">
            <img src="img/logo-kose.png" alt="" />
        </div>

        <div class="grid-position">
            <div class="grid-position--top">

                <form method="get" class="question">

                    <h3 class="analysis-text">
                        {{EN: Thank you for participating! <br> We are selecting your perfect
                        moisturizer.||JP:あなたにぴったりの化粧水を <br> お選びしています。}}
                    </h3>

                    <div class="analysis-bar-block">
                        <p class="back">
                            {{EN:<span class="font-josefin">Analyzing…</span>||JP:診断中…}}
                        </p>
                        <div class="analysis-bar-wrap">
                            <div class="analysis-bar">
                                <p class="front">
                                    {{EN:<span class="font-josefin">Analyzing…</span>||JP:診断中…}}
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
    <script src="./libs/jquery/jquery-1.11.1.min.js"></script>
    <script src="js/scripts.min.2604.js"></script>
</body>

</html>