<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Step 5</title>
  <link rel="stylesheet" href="css/style.min-0106.css" />
  <link rel="icon" href="img/favicon-16x16.png" type="image/x-icon">
</head>

<body>
  <main class="main-contact container step-5">
    <div class="background"></div>

    <div class="logo">
      <img src="img/logo-kose.png" alt="" />
    </div>

    <div class="grid-position">
      <div class="grid-position--top">

        <form action="step_6-animation.html" method="get" class="question question__column-2">
          <input type="hidden" data-question="question" data-last="last_question" name="question"
            value="My best therapy is…" />

          <h3 class="to-hide">
            {{EN: My best therapy is…||JP:<span class="jap">1番のストレス発散方法は？</span>}}
          </h3>

          <ul class="step-num-block">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li class="active">4</li>
          </ul>

          <div class="btns to-hide">

            <label class="btn btn__card">
              <input type="submit" name="answer" value="Pigging out on sweets" hidden />

              <img src="./img/june-gathercole-j07KEb81xa4-unsplash.jpg" alt="Pigging out on sweets">
              <p>
                {{EN: Pigging out on sweets||JP: ひたすら甘いものを食べる}}
              </p>
            </label>

            <label class="btn btn__card">
              <input type="submit" name="answer" value="Solo karaoke aka HITOKARA" hidden />

              <img src="./img/pexels-mike-gonzález-4085810.jpg" alt="Solo-karaoke, aka 'HITOKARA'">
              <p>
                {{EN: Solo-karaoke, aka &quot;HITOKARA&quot;||JP: ひとカラ（ひとりカラオケ）}}
              </p>
            </label>

            <label class="btn btn__card">
              <input type="submit" name="answer" value="Watching my favorite pop idols on social" hidden />

              <img src="./img/pexels-cottonbro-5081918.jpg" alt="Watching my favorite pop idols on social">
              <p>
                {{EN: Watching my favorite pop idols on social||JP: 大好きなアイドル鑑賞}}
              </p>
            </label>
          </div>
        </form>
      </div>
    </div>

  </main>
  <script src="./libs/jquery/jquery-1.11.1.min.js"></script>
  <script src="js/scripts.min.2604.js"></script>
</body>

</html>